Django>=5.1,<5.2
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.3,<5.4
psycopg[binary]>=3.2,<3.3
django-environ>=0.11,<0.12
django-cors-headers>=4.4,<4.5
drf-spectacular>=0.27,<0.28
celery>=5.4,<5.5
redis>=5.0,<6.0
gunicorn>=22.0,<23.0
whitenoise>=6.7,<6.8
resend>=2.5,<3.0
